*{
  margin-top: 0;
  padding-top: 0;
  line-height: 1.5;
  box-sizing: border-box;
}

html{
  background-color: rgb(208,224,184);
}


header{
  display: block;
  width: 100%;
  margin: 0;
  padding: 0.1em 16px;
  background-color: rgb(136,176,75);
  font-family: 'Signika', sans-serif;
  font-weight: 700;
}

main{
  max-width: 95%;
  margin: 30px auto;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
}

h1{
  margin: 10px 5%;
  font-size: 36px;
  display: block;
}

li{
  list-style: none;
  margin: 10px 0;
}

ul{
  max-width: 915px;
  margin: 25px auto;
  padding: 0;
  display: grid;
  grid-template-columns: 450px 450px;
  grid-column-gap: 15px;
}

.main-controls{
  margin: auto;
}

.js-expand-add{
  display: block;
  margin: 5px auto;
}

.link{
  float: right;
}

.unexpanded-bookmark-contents{
  border: 1px solid gray;
  border-radius: 10px;
  display: table;
  width: 100%;
  table-layout: fixed;
  padding: 10px 20px;
  border-radius: 10px 10px 0 0;
  background-color: rgb(68,136,60);
}

.unexpanded-bookmark-contents span{
  display: table-cell;
  text-align: center;
}

.expanded-bookmark-contents{
  padding: 10px 20px;
  border: 1px solid gray;
  border-top: none;
  border-radius: 0 0 10px 10px;
  background-color: rgb(245,246,247);
}

.js-bookmark-title-entry{
  width: 60%;
  margin-top: 10px;
}

.js-bookmark-url-entry{
  width: 75%;
  margin: 10px 0;
}

.js-bookmark-rating-entry{
  max-width: 50px;
}

.js-delete-button{
  margin-left: 10px;
  float: right;
}

.error-display p{
  margin-top: 10px;
  border: 1px solid grey;
  border-radius: 10px;
  background-color: khaki;
  text-align: center; 
}

@media only screen and (max-width: 950px){
  ul{
    display: grid;
    grid-template-columns: 450px;
    margin: auto;
    width: 450px;
  }
}